body{
    margin: 0;
    padding: 0;
    background: url(bg.jpeg) no-repeat;
    background-size: cover;
  }
  .profile-picture{
    width:450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    padding-top: 20px;
  }
  .pp-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .title h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
    padding: 20px;
    margin: auto;
    width: 450px;
    
  }
  .profession h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
    padding: 20px;
    margin: auto;
    width: 450px;
   

  }
  .description p{
    text-align: justify;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
    padding: 20px;
    margin: auto;
    width: 450px;
    
  }
  .links ul{
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    margin: auto;
    padding: 20px;
    width:450px;

  }
  
  .links li{
    display: inline-block;
    margin: 6px;
    list-style: none;
   
  }
  .links a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;

    
  }
  .links li a:hover{
    color: #b9b9b9;
  }
  